.calendar {
	width: 1051px;
	color: grey;
	font-family: sans-serif;
	font-size: 12px;
	margin: 0 auto;
}

.calendar--header {
	padding: 10px 0;
	overflow: auto;
}

.calendar--header--title {
	margin: 0 auto;
	display: block;
	width: 300px;
	text-align: center;
	font-size: 16px;
}

.calendar--header--prev {
	float: left;
	width: auto;
}

.calendar--header--next {
	float: right;
	width: auto;
}

.calendar--header--prev button,
.calendar--header--next button {
	background: cornflowerblue;
	display: table;
	padding: 10px 5px;
	color: white;
	border-radius: 5px;
	outline: none;
}

.calendar--header--prev button:hover,
.calendar--header--next button:hover {
	background: rgb(88, 134, 220);
	cursor: pointer;
}


.calendar--body {
	border-top: lightgray 1px solid;
	border-right: lightgray 1px solid;
	overflow: auto;
}

.calendar--day--head,
.calendar--day {
	width: 150px;
	box-sizing: border-box;
	float: left;
	border-left: lightgray 1px solid;
	border-bottom: lightgray 1px solid;
}

.calendar--day--head {
	text-transform: uppercase;
	text-align: center;
	padding: 10px 0;
}

.calendar--day {
	min-height: 100px;
	position: relative;
}

.calendar--day.faded {
	color: lightgray;
}

.calendar--day .number {
	padding: 5px 10px;
}

.calendar--day .items .item {
	width: 149px;
	height: 15px;
	margin-bottom: 1px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: black;
}

.calendar--day .items .item.continued {
	width: 150px;
	margin-left: -1px;
}

.calendar--day .items .item.event {
	background: cornflowerblue;
}

.calendar--day .items .item.reminder {
	background: blueviolet;
}

.calendar--day .items .item.birthday {
	background: yellow;
}